.App {
    background-color: #282c34;
}
.panels-container{
    width: 100%;
    height: 681px;
    display: flex;
}
.left-pane-container{
    width: 17%;
    height: 100%;
    background-color: #FFFFFF;
    display: inline-block;
}
.main-pane-container{
    width: 83%;
    height: 100%;
    background-color: #F2F2F2;
    display: inline-block;
}